.container {
    margin: auto;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    min-width: 350px;
}


.inner {
    background-color: blueviolet;
    box-shadow: 0px 00px 50px #0005;
}